# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CRADIOFS_LEFT
    def_bool $(shields_list_contains,cradiofs_left)

config SHIELD_CRADIOFS_RIGHT
    def_bool $(shields_list_contains,cradiofs_right)
