/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>
// #include <behaviors/cycle_cpi.dtsi>
#include <dt-bindings/zmk/cycle_cpi.h>

#define LOWER 1
#define RAISE 2

#define LHT &lt LOWER LEFT
#define RHT &lt RAISE RIGHT

/ {
    combos {
        compatible = "zmk,combos";
        combo_mb3 {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&mkp MB3>;
        };
        combo_ctrlw {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp LC(W)>;
        };
        combo_studio {
            timeout-ms = <100>;
            key-positions = <1 2 3>;
            bindings = <&studio_unlock>;
        };
        combo_bootloader {
            timeout-ms = <100>;
            key-positions = <0 1 2 3>;
            bindings = <&bootloader>;
        };
    };

    behaviors {
        ccpi: ccpi {
            compatible = "zmk,behavior-cycle-cpi";
            #binding-cells = <1>;
            device = <&trackball>;
            cpis = <200 400 600 800 1000 1600 2400 3200>;
            initial-cpi-index = <2>;
            display-name = "CPI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                LHT                 &kp LMB                 &kp RMB        RHT
            >;
        };
        lower_layer {
            bindings = <
                &none               &trans                  &kp BMB        &kp FMB
            >;
        };
        raise_layer {
            bindings = <
                &ccpi CCPI_PREV     &ccpi CCPI_NEXT         &trans          &none
            >;
        };
    };

};
