/* 第四个文件：定义物理布局, 以支持 zmk studio 动态改键 */

#include <physical_layouts.dtsi>

/ {
    ballue_physical_layout: ballue_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "BallUE";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            ;
    };
};