#include <dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
          pinmux = <I2C1_SDA_P26>, <I2C1_SCL_P27>;
          input-enable;
          input-schmitt-enable;
        };
    };

	pio0_spi0_default: pio0_spi0_default {
		group1 {
			pinmux = <PIO0_P0>, <PIO0_P2>;
		};
		group2 {
			pinmux = <PIO0_P0>;
			input-enable;
		};
	};

};

&pio0 {
	status = "okay";

	pio0_spi0: pio0_spi0 {
		pinctrl-0 = <&pio0_spi0_default>;
		pinctrl-names = "default";

		compatible = "raspberrypi,pico-spi-pio";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		// clocks = <&clocks RPI_PICO_CLKID_CLK_SYS>;
        // clocks = <&peripheral_clk>;
		clocks = < &system_clk >;
		miso-gpios = <&gpio0 0 0>;
		cs-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
		clk-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;

        trackball: trackball@0 {
            status = "okay";
            compatible = "pixart,pmw3610";
            reg = <0>;
            spi-max-frequency = <2000000>;
            irq-gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            cpi = <600>;
            evt-type = <INPUT_EV_REL>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
        };
	};
};


&i2c1 {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };
};
